<p>新規登録</p>
<%= form_with model: @user, url: "/users", method: :post, local: true do |f| %>
  <p>お名前：<%= f.text_field :name %></p>
  <p>年齢：<%= f.text_field :age %></p>
  <%= f.submit "送信" %>
<% end %>

<%# メモ--------------------------------------------------------------
■form_withについて
●使い方
form_with(モデル or スコープ or URL [, オプション])

●データベースに保存しない場合（スコープ）
<%= form_with url: "パス" do |f| %>
  <%# フォーム内容
<% end %>

<%# ●データベースに保存する場合（モデル）
<%= form_with model: モデルクラスのインスタンス do |f| %>
  <%# フォーム内容 %>
<%# <% end %>

<%# ※自動で振り分けてくれる
インスタンスがない場合 → createアクションへ
インスタンスがある場合 → updateアクションへ %>

<%# ●オプション
※classやidについて
デフォルトでは付与されないのでオプションで記述する必要がある

※local: trueについて
local: trueがある → 普通にHTMLとしてフォームを送信する
local: trueがない → ajax（非同期通信）による送信となる %> 

